.dsa-journey {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dsa-journey-header {
  font-family: "Poppins", system-ui;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #393e46;
  font-size: 5vh;
  margin-top: 15vh;
}
@media (max-width: 770px) {
  .dsa-journey {
    padding-left: 1vw;
    padding-right: 1vw;
  }
  .dsa-journey-header {
    margin-top: 0;
  }
}
