.dsa-NavContainer {
  display: none;
}

.nav-responsive {
  display: none;
}

.responsive-menu {
  list-style-type: none;
  padding: 0;
}

.responsive-menu .tags {
  display: none;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .navbar-container {
    display: none;
    height: 0;
  }

  .dsa-NavContainer {
    display: flex;
  }

  .dsa-NavContainer .logo {
    display: flex;
    align-items: center;
    margin-left: 3rem;
  }

  .dsa-NavContainer .dsa-nav-responsive .nav-mob-open {
    display: block;
    position: absolute;
    margin-top: 1.8rem;
    right: 30px;
    font-size: 25px;
  }

  .dsa-NavContainer .logo img {
    height: 5vh;
    width: 6vw;
    margin-right: 0.5vw;
  }

  .dsa-NavContainer .logo h4 {
    font-size: 1.2rem;
    font-weight: 450;
  }

  .dsa-NavContainer nav {
    display: block;
    /* Hide the navigation on smaller screens */
  }

  .dsa-NavContainer .dsa-nav-responsive .dsa-responsive-menu .dsa-tags .link-no-underline {
    text-decoration: none;
    color: #090909;
  }

  .dsa-NavContainer .dsa-nav-responsive .dsa-responsive-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    list-style-type: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: right 1.5s;
    right: 0px;
    /* Hidden state */
    margin-top: 0;
    transition: right 0.5s ease-in-out;
  }

  .dsa-NavContainer .profile img {
    width: 5vw;
  }

  .nav-responsive-closing-button {
    position: absolute;
    top: 5%;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 0px solid transparent;
    background-color: rgba(161, 229, 205, 0.84);
    border-radius: 1.5em;
    transition: all 0.2s linear;
    font-size: 1.25em;
  }

  .nav-responsive-tags {
    font-size: 2rem;
    padding: 2% 0;
  }

  .dsa-tags.show {
    /* margin-top: 20%; */
    position: absolute;
    top: 13%;
    text-align: center;
  }

  .logout-button-res {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: rgba(161, 229, 205, 0.84);
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    font-family: "Poppins", sans-serif;
    margin-top: 15%;
  }

  .logout-button-res:hover {
    border: 1px solid white;
  }

  .logout-button-res:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
  }

  .logout-button-res svg {
    height: 1.5rem;
  }

  .nav-responsive-tags {
    color: #00a97f;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: 0.3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
  }

  .nav-responsive-tags::before,
  .nav-responsive-tags::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
  }

  .nav-responsive-tags::before {
    top: -1em;
    left: -1em;
  }

  .nav-responsive-tags::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
  }

  .nav-responsive-tags:hover::before,
  .nav-responsive-tags:hover::after {
    height: 410px;
    width: 410px;
  }

  .nav-responsive-tags:hover {
    color: rgb(10, 25, 30);
  }

  .nav-responsive-tags:active {
    filter: brightness(0.8);
  }

  .nav-responsive-tags {
    margin-top: 10%;
  }

  .dsa-responsive-menu.open {
    right: 0;
    /* When menu is open */
    transition: 0.5s ease-in;
    margin-top: 0;
  }
}

/* Open state of the menu */